.gameDiv {
  position: relative;
  width: 80vw;
  height: 80vw;
  max-width: 90vh;
  max-height: 90vh;
  
  top: px;
  background-color:magenta;
  min-height: px;
  left: px;
  display:inline-block;
  margin-left: 1%;
  margin-top: 1%;
  border: ;
  box-shadow: 2px 2px 15px 0 white;
}
.aaa{
  animation: abc 1s ease    ;
 
}
 @keyframes abc {
   from{opacity: 1 ;}
   to {opacity: 0;
   display:none;
}
 }
 .beforeForKing{
   display:none;
 }
 .afterForKing{
   display:inline;
 }