/*  строка меню сверху*/

body {margin:auto; width: 100%;  }
.fon {margin: 0% 0% 0% 0%;  width:; padding: 0px;}

ul {padding: 0px; margin: 0px;}
li {padding: 0px; margin: 0px; }
ul.menu  {margin: 0px; padding:0px; list-style: none; text-align: center;}


.menu> li {max-height: 70px;
  min-height:30px;
    width: 30%;
    max-width: 200px; 
     min-width: 130px; 
      display: inline-block;
position: relative;
 background-color: #3F3F3F; 
  margin-left: -6px;
   text-align: center;}
   
.menu a {display: block;  
    font-size:100%; 
      text-decoration: none;
      padding: 5% 0px;
       color: white;
       height:120%;   }

ul li:first-child { margin-left: 0;}
.menu> li:before { content: '';
   height: 5px; 
    width: 100%;
     position: absolute;
      top:0;
       left: 0;}

.menu>li:nth-of-type(1):hover{background-color:crimson; }
.menu>li:nth-of-type(1):before { background-color:crimson;  }
    
.menu>li:nth-of-type(2):hover{background-color:lawngreen; }
.menu>li:nth-of-type(2):before { background-color:lawngreen;  }
    
.menu>li:nth-of-type(3):hover{background-color:magenta; }
.menu>li:nth-of-type(3):before { background-color:magenta;  }

/* контейнер, чтобы нормальноотображалось*/
.page_container {
  
  text-align: center;
  
}

/* диалоговое игровое окно */



.game-window{
  width: calc(100vw - 95vh);
  max-width: 300px;
  height: 80%;
  background-color: ;
  display: inline-block;
  margin-left: 1%;
  margin-top: 2%;
  min-width: 120px;
  border: ;
  vertical-align: top;
 
}
.player {
  height:20% ;
  min-height: 70px;
  background-color: ;
  border: 2px solid black;
  border-radius: 2%;
  box-shadow: inset 2px  2px  15px 0px white,-2px -2px 10px 0px white;
 margin-bottom: 5%;
}
.player_time{
  min-height: 70px;
  
}
.player span {
  text-align: center;
  font-size: %;
  color: white;
  display: block;
  margin: 2%;
}
.active {
 /* animation: active-player 3s linear infinite;*/
  animation: active-player 3s linear infinite;

}

@keyframes active-player {
  0% {
    border: 2px solid black;
    box-shadow: inset 2px  2px  15px 0px white,-2px -2px 10px 0px white;
    
  }
  50% {
    border: 2px solid white;
    box-shadow: inset 2px  2px  15px 0px magenta,-2px -2px 10px 0px magenta;
  }

  100% {
    border: 2px solid black;
    box-shadow: inset 2px  2px  15px 0px white,-2px -2px 10px 0px white;
    
  }
}

.player .name {
  font-size: calc(100vw / 35);
color:white;
}

.player .count {
  font-size: calc(100vw / 35);
color:white;
}

.player .color{
  font-size: calc(100vw / 35);
  color:aqua;
  
}
.game-time{
  font-size: calc(100vw / 35);
  color:white;
  
}

/* для контейнера игрового поля */

.game_field{
  display: inline-block;
}

/* медиазапросы */

@media (max-width: 800px) {
  .game_field{
    width: 100%;
  }
  .game-window {
    
    display: inline-block;
    width: 100%;
    display: inline;
    margin-left: 1%;
    margin-top: 1%;
    min-width: 30px;
  }

.player {
  width: 30%;
  min-height: 30px;
  display: inline-block;
  min-height: 30px;
  margin-bottom: 2%;
}
.player span {
  color: aqua;
  display: block;
  margin: 1%;
}
}

@media (max-width: 600px) {
  .game-window {
    
    display: inline-block;
    width: 100%;
    display: inline;
    margin-left: 1%;
    margin-top: 1%;
    min-width: 20px;
  }

.player {
  width: 20%;
  display: inline-block;
  min-height: 20px;
  margin-bottom: 1%;
}
.player span {
  display: block;
  margin: 1%;
}

.player .name {
  font-size: calc(100vw / 50);
}

.player .count {
  font-size: calc(100vw / 50);
}

.player .color{
  font-size: calc(100vw / 50);
  
}
.game-time{
  font-size: calc(100vw / 50);
  
}
}


@media (max-width: 500px) {
  .menu> li {max-height: 70px;
    min-height:20px;
      width: 30%;
      max-width: 30%; 
       min-width: 90px; 
    }
     
  .menu a {display: block;  
      font-size:calc(100vw / 50);; 
        padding-top: 3%;
         height:80%; 
          }
  
  ul li:first-child { margin-left: 0;}
  .menu> li:before { content: '';
     height: 2px; 
        }
}

